@keyframes slide-in {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

.main {
  display: flex;
  justify-content: center;
  width: 200px;
  flex-grow: 1;
  animation: slide-in 200ms both ease;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: inherit;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 2px var(--bg-secondary);
  transition: 200ms;
}

.container:hover {
  box-shadow: 0 0 2px var(--accent-primary);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  margin: 0; padding: 0.5rem;
  font-size: 1rem;
}

.image {
  height: 250px;
  width: inherit;
  overflow: hidden;
  position: relative;
}

.image > img {
  transition: 200ms;
  object-fit: cover;
}

.main[data-image-not-found="true"] .image > img {
  width: unset !important;
}

.container:hover .image > img {
  scale: 1.1;
}

.container:active .image > img {
  scale: 1;
}

.main[data-image-not-found="true"] > .container:hover .image > img {
  scale: 1;
}