.main {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-primary);
  width: 2rem; height: 2rem;
  border-radius: 2rem;
  transition: 200ms;
}

.pages {
  display: flex;
  gap: 1rem;
}

.pages > * {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fg-secondary);
  background-color: var(--accent-primary);
  width: 1.8rem; height: 1.8rem;
  border-radius: 1.8rem;
  cursor: pointer;
  user-select: none;
  transition: 200ms;
  font-size: 12px;
  font-weight: bold;
}

.icon:active,
.pages > *:active {
  scale: 0.9;
}

.pages > *[data-current="true"] {
  background-color: var(--accent-dangerous);
}

.dots {
  color: var(--foreground);
  background-color: transparent;
  width: unset;
  cursor: default;
}

.dots:active {
  scale: 1;
}

@media (max-width: 800px) {
  .main {
    gap: 4px;
  }

  .pages {
    gap: 4px;
  }

  .dots {
    display: none;
  }

  .indexed {
    background-color: var(--accent-secondary);
  }
}