.main {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--fg-secondary);
  border-radius: 2px;
  border: 1px solid var(--bg-secondary);
  width: 200px; height: 300px;
  overflow: hidden;
  position: relative;
  transition: 200ms;
  user-select: none;
}

.button:hover {
  scale: 1.1;
}

.button:active {
  scale: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; width: 100%;
  background-color: rgba(var(--bg-rgb-primary), 0.5);
  z-index: 99;
  transition: 200ms;
  backdrop-filter: blur(1px);
}

.button > img {
  object-fit: cover;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}