@keyframes background-pan {
  from {background-position: 0% center;}
  to {background-position: 200% center;}
}

:root {
  --root-padding: 4px;
  --header-height: 4rem;

  --foreground: #222;
  --fg-secondary: #fff0f7;
  --bg-primary: #fff;
  --bg-secondary: #2f2239;

  --bg-rgb-primary: 255, 255, 255;

  --accent-primary: #004191;
  --accent-secondary: #7e3cb4;
  --accent-dangerous: #e03229;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff0f7;
    --bg-primary: #2f2239;
    --bg-secondary: #0d1116;
    
    --bg-rgb-primary: 47, 34, 57;

    --accent-primary: #0d325e;
    --accent-secondary: #0d1116;
  }
}

html {
  font-family: Arial, Helvetica, sans-serif;
  min-height: calc(100vh - var(--root-padding) * 2);
  padding: var(--root-padding);
  background: rgb(73,151,242);
  background: linear-gradient(90deg, rgba(73,151,242,1) 0%, rgba(2,23,159,1) 33%, rgba(191,12,245,1) 67%, rgba(73,151,242,1) 100%);
  background-size: 200%;
  animation: background-pan 10s linear infinite;
}

body {
  margin: 0; padding: 0;
  color: var(--foreground);
  background: var(--bg-primary);
  min-height: calc(100vh - var(--root-padding) * 2);
}

a {
  color: var(--foreground);
  text-decoration: none;
}