@keyframes background-pan {
  from {background-position: 0% center;}
  to {background-position: 200% center;}
}

:root {
  --root-padding: 4px;

  --foreground: #202020;
  --background: #FFF;
  --marvel-blue: #004191;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  min-height: calc(100vh - var(--root-padding) * 2);
  padding: var(--root-padding);
  background: rgb(73,151,242);
  background: linear-gradient(90deg, rgba(73,151,242,1) 0%, rgba(2,23,159,1) 33%, rgba(191,12,245,1) 67%, rgba(73,151,242,1) 100%);
  background-size: 200%;
  animation: background-pan 10s linear infinite;
}

body {
  margin: 0; padding: 0;
  color: var(--foreground);
  background-color: var(--background);
  min-height: calc(100vh - var(--root-padding) * 2);
}