.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 250px; width: 150px;
  border: 1px solid var(--bg-secondary);
  box-shadow: 0px 0 0 var(--bg-secondary);
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
}

.container:hover {
  border: 1px solid var(--accent-dangerous);
  box-shadow: 4px 0 0 var(--accent-dangerous);
}

.image {
  display: flex;
  width: 200px; height: 200px;
  overflow: hidden;
}

.main[data-image-not-found="true"] .image {
  align-self: flex-start;
}

.image > img {
  transition: 200ms;
}

.container:hover .image > img {
  scale: 1.1;
}

.main[data-image-not-found="true"] > .container:hover .image > img {
  scale: 1;
}

.container:active .image > img {
  scale: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 150px;
  color: var(--fg-secondary);
  background-color: var(--accent-primary);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: 200ms;
}

.container:hover .title {
  background-color: var(--accent-dangerous);
}

@media (prefers-color-scheme: dark) {
  .container {
    border: 1px solid var(--accent-secondary);
    box-shadow: 0 0 0 var(--accent-secondary);
  }
}