@keyframes slide-in {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  animation: slide-in 200ms both ease;
}

.container {
  display: flex;
  flex-direction: column;
  height: 250px; width: 150px;
  border-radius: 8px;
  box-shadow: 0 0 0.1rem var(--bg-secondary);
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
}

.image {
  display: flex;
  width: 200px; height: 200px;
  overflow: hidden;
  position: relative;
}

.main[data-image-not-found="true"] .image {
  align-self: flex-start;
}

.image > img {
  transition: 200ms;
}

.container:hover .image > img {
  scale: 1.1;
}

.main[data-image-not-found="true"] > .container:hover .image > img {
  scale: 1;
}

.container:active .image > img {
  scale: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 150px;
  color: var(--accent-primary);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .container {
    box-shadow: 0 0 2px var(--accent-secondary);
  }

  .title {
    color: var(--foreground);
  }
}