.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 320px;
  height: calc(100vh - var(--header-height) - var(--root-padding) * 2);
  position: sticky;
  top: var(--header-height);
  overflow-y: auto;
  flex-shrink: 0;
}

.title {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  overflow: hidden;
}

.description {
  width: 300px;
  text-align: justify;
}

@media (max-width: 800px) {
  .main {
    position: static;
    height: unset;
  }
}